.columnDiv {
    display: flex;
    flex-direction: row;
}
.divElement{
    width: 200px;
    height: 200px;
    border: black solid 1px;
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;

}